h1 {
    font-family: fantasy;
    font-size: 60px;
    background-color: purple;
    color: black;
    text-align: center;
}
.openingparagraph{
    color:black;
    background-color:white;
    color:black;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumpurple;
}
li {
    float: left;
}

li a {
    font-size: 20px;
    display: block;
    color: pink;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: black;
}

.active {
background-color:rebeccapurple;
}
html {
    background: #505D6E url("http://www.easyfreepatterns.com/patterns/7/pink-stripes-wallpaper-desktop-background-do-it-7400.jpg") no-repeat center center fixed;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;  
}

body {
    background: transparent;
}

table {
    background: transparent;
}
.starwarsdog {
    float: left;
    position:absolute;
    margin: 300px 10px;
    
}
.jumpingpug {
    margin: 0px 10px;
}
.jumpingpugdescription {
    color:black;
    background-color:white;
    font-size: 28px;  
    float:right;
    position:absolute;
    top:280px;
    right: 10px;
    left: 525px;
}
.cuteometer1 {
    color:orange;
    background-color:white;
    font-size: 35px;
    position:absolute;
    top: 480px;
    left: 525px;
}
.jumpingpuggroup {
    position:absolute;
}
.starwarsdogdescription{
    color:black;
    background-color:white;
    font-size: 28px;  
    float:right;
    position:absolute;
    top:580px;
    right: 10px;
    left: 525px;
}
.cuteometer2 {
    color:green;
    background-color:white;
    font-size: 35px;
    position:absolute;
    top: 740px;
    left: 525px;    
}