h1 {
    font-family: fantasy;
    font-size: 60px;
    background-color: purple;
    color: black;
    text-align: center;
}
.openingparagraph{
    color:black;
    background-color:white;
    color:black;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumpurple;
}
li {
    float: left;
}

li a {
    font-size: 20px;
    display: block;
    color: pink;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: black;
}

.active {
background-color:rebeccapurple;
}
html {
<<<<<<< HEAD
    background: #505D6E url("http://wallpapercave.com/wp/5TAw6y4.gif") no-repeat center center fixed;
=======
    background: #505D6E url("http://www.easyfreepatterns.com/patterns/7/pink-stripes-wallpaper-desktop-background-do-it-7400.jpg") no-repeat center center fixed;
>>>>>>> origin/master
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;  
}

body {
    background: transparent;
}

table {
    background: transparent;
}
<<<<<<< HEAD
.openingparagraph {
    top: 200px;
    font-size: 24px;
    position:absolute;
}
.jumpingpug {
    position:absolute;
    top:295px;
=======
.starwarsdog {
    float: left;
    position:absolute;
    margin: 300px 10px;
    
}
.jumpingpug {
    margin: 0px 10px;
>>>>>>> origin/master
}
.jumpingpugdescription {
    color:black;
    background-color:white;
    font-size: 28px;  
    float:right;
    position:absolute;
    top:280px;
    right: 10px;
    left: 525px;
}
<<<<<<< HEAD
.starwarsdog {
    position:absolute;
    left:10px;
    top:600px;
    height:410px
}
=======
>>>>>>> origin/master
.cuteometer1 {
    color:orange;
    background-color:white;
    font-size: 35px;
    position:absolute;
    top: 480px;
    left: 525px;
}
.starwarsdogdescription {
    color:black;
    background-color:white;
    font-size: 30px;  
    float:right;
    position:absolute;
    top:580px;
    right: 10px;
    left: 525px;   
}
.cuteometer2 {
    color:green;
    background-color:white;
    font-size: 35px;
    position:absolute;
<<<<<<< HEAD
    top: 740px;
    left: 525px    
=======
}
.starwarsdogdescription{
    color:black;
    background-color:white;
    font-size: 28px;  
    float:right;
    position:absolute;
    top:580px;
    right: 10px;
    left: 525px;
}
.cuteometer2 {
    color:green;
    background-color:white;
    font-size: 35px;
    position:absolute;
    top: 740px;
    left: 525px;    
>>>>>>> origin/master
}