h1 {
    font-family: fantasy;
    font-size: 60px;
    background-color: green;
    color: black;
    text-align: center;
}
p {
    text-align: center;
    color:black;
    background-color:white;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    font-size: 20px;
    display: block;
    color: green;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: black;
}

.active {
background-color:skyblue;
}
html {
    background: #505D6E url("http://www.designbolts.com/wp-content/uploads/2012/12/White-Gradient-Squares-Seamless-Patterns-For-Website-Backgrounds.jpg") no-repeat center center fixed;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;  
}

body {
    background: transparent;
}

table {
    background: transparent;
}
div {
    color:aqua;
}