h1 {
    font-family: fantasy;
    font-size: 60px;
    background-color: purple;
    color: black;
    text-align: center;
}
.openingparagraph{
    color:black;
    background-color:white;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    font-size: 20px;
    display: block;
    color: green;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: black;
}

.active {
background-color:skyblue;
}
html {
    background: #505D6E url("http://wallpapercave.com/wp/5TAw6y4.gif") no-repeat center center fixed;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;  
}

body {
    background: transparent;
}

table {
    background: transparent;
}
.openingparagraph {
    font-size: 20px;
}
.jumpingpugdescription {
    color:black;
    background-color:white;
    font-size: 30px;  
    float:right;
    position:absolute;
    top:280px;
    right: 10px;
    left: 525px;
}
.starwarsdog {
    position:absolute;
    left:10px;
    top:600px;
    height:445px
}
.cuteometer1 {
    color:orange;
    background-color:white;
    font-size: 35px;
    position:absolute;
    top: 480px;
    left: 525px
}
.jumpingpuggroup {
    position:absolute;
}